<h1>ideas for a crypto meetup</h1> 
<hr>
<p>
~stay decentralized
~meet at least once a month<br>
~mentioning coins is different than shilling<br>
~3/4 majority spirit fingers vote can silence or remove speakers guilty of MANSPLAIN, FUD, ESPIONAGE or SABOTAGE<br>
</p>
<p>
suggested order<br>
1) answer questions<br>
2) make sure questions are answered<br>
3) DEVs update on projects and needs<br>
4) Dreamers share visions<br>
5) Collaborate<br>
6) Deploy<br>
7) Distribute<br>
8) Airdrop<br>
</p>

