<h3>This site runs on <a href="http://memetic.ai"> MEME </a> cryptocurrency to send contributions and make payments by using the addresses listed herein.</h3> 
<h3>Need a MEME address?</h3> 
<h3>Start by creating an account at a cryptocurrency exchange like <a href="http://bittrex.com"> Bittrex</a> or <a href="http://cryptopia.co.nz">Cryptopia</a>.</h3>
<h3>Or you can download the latest MEME software at  <a href="http://memetic.ai"> memetic.ai</a>.</h3>
<h3>All payments and donations can be confirmed on the <a href="http://memetic.thecryptochat.net/"> MEME Block Explorer </a></h3>
<%= image_tag("meme.png", :alt => "rss feed", :size => "50x50") %><br>
<tiny>The MEME network is completely autonomous. Neither this site nor the DPC handle any part of a MEME transaction and neither is responsible for MEME sent to the wrong address. 
</tiny>
<hr>