<h1><%= Time.zone.now.strftime("%A") %></h1>
<small>contact <a href="mailto:fdic.313@gmail.com">$*$</a> to update this site </small><br>
<small> ideas for a crypto meet up </small><br>
<small> {ok} </small>
